.isPrime {
    background: gray;
}

.table {
    font-weight: normal;
    table-layout: fixed;
}

th {
    font-weight: normal;
    width: 125px;
    height: 125px;
}

.img-rover {
    width: 4rem;
}

.legend-box {
    width: 1rem;
    height: 1rem;
}