/* You can add global styles to this file, and also import other style files */
body {
    background: black;
    background-image: url("assets/plateau-bg4.jpg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}

.rotate-n {
    transform: rotate(270deg);
}
.rotate-w {
    transform: scaleX(-1);
}
.rotate-s {
    transform: rotate(90deg);
}